.navbar.navbar-default {
  background-color: #ddd;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-default .navbar-brand {
  color: black;
  font-weight: bold;
}
.navbar-default .navbar-toggle.collapsed {
  border-color: black;
}
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: black;
}
.navbar-default .navbar-toggle.collapsed:hover,
.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

#navbar-menu li {
  border: 1px solid gray;
}

h2 {
  margin-bottom: 30px;
}

div.section {
  background-color: #ddd;
  padding: 5px 20px 15px 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #navbar-menu {
    background-color: white;
  }
}


/* Large */
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    width: 33%;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Small */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  }